$color-white     : #fff;
$color-black     : #000;
$color-lightgrey : #cccccc;
$color-darkgrey : #454545;
$color-red       : #d22222;
$color-darkred   : #a4000a;
$color-blue      : #0000ff;
$color-default : #525252;